[2018-12-05 03:33] Qhodok opened #3 "Submit SM with message_payload"
i cant use message_payload on gosmpp. when I check on tcpdump, I found different from openSMPP and goSMPP. in openSMPP have Optional parameter payload but in goSMPP is nothing

[2019-09-12 13:19] adrianlop opened #4 "example folder is gone"
hi @linxGnu,

can you provide an example for a long-lasting connection SMPP Receiver client?
I tried to check the Telco example folder, but is not in the repository anymore.

Thank you

[2019-09-13 14:06] adrianlop commented on #4
thanks a lot for the fast response! I appreciate the example too. cheers

[2019-09-13 16:10] adrianlop commented on #4
actually @linxGnu , any chance you have an example for dealing with UDH concatenated messages?

[2019-09-14 08:43] linxGnu commented on #4
@adrianlop : In my example, you could see:
https://gist.github.com/linxGnu/b488997a0e62b3f6a7060ba2af6391ea#file-gosmpp_sample-go-L349

You could change it also and follow the protocol: https://en.wikipedia.org/wiki/Concatenated_SMS
[code]

[2019-09-14 08:46] linxGnu commented on #4
In case of 16 bit SMS (UCS encoding), please make sure to split your message body into smaller part, compare to normal/usual 7-bit encoding.

[2019-09-16 02:28] #4 closed

[2019-10-17 02:49] yangqi365 opened #5 "How can I get the Exception.ConnectionClosingDueToError and reconnect?"
Hi, @linxGnu

When the `TCPIPConnection` got [`Exception.ConnectionClosingDueToError`](https://github.com/linxGnu/gosmpp/blob/master/TCPIPConnection.go#L199)  , how can I get it in my [listener](https://github.com/linxGnu/gosmpp/blob/master/Receiver.go#L216)? I want to reconnect if `Exception.ConnectionClosingDueToError` happend.

Thanks.

[2019-10-17 03:50] linxGnu commented on #5
Hello @yangqi365 ,

Thank you very much for your concern. To make it happened, I added hook api for your PDU Listener.

Please kindly take a look at: https://github.com/linxGnu/gosmpp/commit/388b2bc52ae431dd0c12855e899573d29127bb79

You could use this hook now by adding `HandleException(*Exception.Exception)` to your current  `ServerPDUEventListener`

I released `v0.1.3` as well.

[2019-10-17 04:56] yangqi365 commented on #5
It's great, thank you.

[2019-10-17 04:56] #5 closed

[2019-11-12 05:48] vanipolnedi opened #6 "can you provide an example for SMPP Receiver/Transmitter client connection?"
Hi @linxGnu ,
can you please provide sample for SMPP Receiver/Transmitter client connection?. i think previously u had given in examples folder but i can't find it now.

Thanks in advance.

[2019-11-12 05:50] linxGnu commented on #6
Hello @vanipolnedi . Could you please refer to this issue: #4
I believe it could help you out.

[2019-11-14 04:03] linxGnu commented on #6
I will close this issue. Thank you for your comment.

[2019-11-14 04:03] #6 closed

[2020-01-01 16:20] vasundhara785 opened #17 "Example"
Can u please provide example for smpp client connection handling all pdu...Earlier it was there in test folder now it has been removed..
Thanks

[2020-01-02 09:12] linxGnu commented on #17
Hello @vasundhara785 could you please check it out at https://github.com/linxGnu/gosmpp/releases/tag/v0.1.3

There is source code for previous version.

Fyi, we are building up 0.1.4 with lot of optimization and new concept which is easy to use.

[2020-01-02 09:13] linxGnu commented on #17
And please also take a look at following closed issue: https://github.com/linxGnu/gosmpp/issues/4

[2020-01-06 13:33] #17 closed

[2020-04-04 09:18] itsursujit opened #19 "Example not working"
I installed go package `go get -u github.com/linxGnu/gosmpp`

And used file https://github.com/linxGnu/gosmpp/blob/master/example/main.go

But running `go build` I'm getting following error:

[code]

How would I fix it?

[2020-04-06 01:58] linxGnu commented on #19
Hello @itsursujit

I think go mod fetch old version of gosmpp and ignore RC version.

If you want to run the example, you could create a go.mod file to tell go which version you want. Then in go.mod, replace gosmpp version with hash value of commit.

The same approach applies to production.

Please tell me if you still get errors.

[2020-04-07 09:02] itsursujit commented on #19
The latest commit I used is working fine.
Thank you!

[2020-04-07 09:02] #19 closed

[2020-04-07 09:11] itsursujit opened #20 "SMSC simulator is having some issue"
I was trying to run SMSC by `./run.sh` inside example folder but I'm getting following error

[code]

[2020-04-07 10:42] itsursujit opened #21 "data.FindEncoding is not working as intended"
I used following piece of code:

[code]
Above code results: `&{}` instead of actual encoding interface among:

[code]
Am I missing something?

[2020-04-07 16:19] itsursujit opened #22 "Getting Error when trying to send one message"
I'm trying to modify example/main.go to send one message instead of loop.

[code]

But I'm getting error
`read tcp 192.168.88.248:52461->192.168.88.250:2775: use of closed network connection`

How would I fix it?
Also is there any example where I can connect to SMSC once and send as many messages to different numbers?
Actually I'm new to go and little knowledge of smpp.

[2020-04-08 01:05] linxGnu commented on #20
@itsursujit smsc source code is modified version of Melroselab for echo messaging. Thus, send back deliverSM when received submitSM.

I could not see any error, just warning, from your log above. Could you please provide full log?

[2020-04-08 01:12] linxGnu commented on #22
@itsursujit sending sms (underlying) is async. This is thread safety enforcement due to the fact that smpp protocol is not multiplex capable.

You coud “sleep” before quiting. Another option is let me improve transaction graceful shutdown

[2020-04-08 03:14] linxGnu commented on #21
@itsursujit Almost encoding has no fields, thats why it print `&{}`.

You could try out:
[code]

[2020-04-08 03:16] linxGnu commented on #22
@itsursujit Could you please try rc10 (latest commit). I have just improve graceful shutdown a bit. You won't see error due to sudden closing net.Conn.

Thank you very much for playing around with gosmpp.

[2020-04-08 09:43] itsursujit commented on #20
@linxGnu It's the full-log on screen https://www.dropbox.com/s/mi666nlkta7olbl/Screenshot%202020-04-08%2015.28.22.png?dl=0

[2020-04-08 09:48] itsursujit commented on #22
Yes Now it's working without any issue.
How is the callback of the final status of a message is received? Is there any way I wait for callback of message either it's delivered or not?

[2020-04-08 11:18] linxGnu commented on #20
@itsursujit It's error free (no error at all). Therefore, I will close this issue. Thank you again for your playground.

[2020-04-08 11:18] #20 closed

[2020-04-08 11:21] linxGnu commented on #22
@itsursujit I guess you could not and SHOULD not wait.

There is no way to know when SMSC returns SubmitSMResp. Some SMSC misses the response.

[2020-04-08 14:11] itsursujit commented on #22
I wonder how other SMPP Gateway like Jasmin SMS Gateway receives callback (DLR) from SMSC and sends callback to user defined callback URL

[2020-04-08 14:48] itsursujit commented on #20
I think I can leave with the warn :). Closing it

[2020-04-09 00:02] linxGnu commented on #21
I will close this issue. Thank you @itsursujit

[2020-04-09 00:02] #21 closed

[2020-04-09 00:05] linxGnu commented on #22
@itsursujit
- You could dig deep into Smpp 3.4 Specification: https://smpp.org/SMPP_v3_4_Issue1_2.pdf
- For smpp framework, please also check out: https://github.com/OpenSmpp/opensmpp

I will close this. If you have any other problems, please don't hesitate to open issue.

[2020-04-09 00:05] #22 closed

[2020-05-13 03:13] YourksChan opened #29 "The problem of getting MessageID after Submit"
transmitter, err := gosmpp.NewTransmitterSession()
transmitter.Transmitter().Submit()

type TransmitSettings struct {
	// WriteTimeout is timeout/deadline for submitting PDU.
	WriteTimeout time.Duration

	// EnquireLink periodically sends EnquireLink to SMSC.
	// The duration must not be smaller than 1 minute.
	//
	// Zero duration disables auto enquire link.
	EnquireLink time.Duration

	// OnSubm

[2020-05-13 04:49] linxGnu commented on #29
@YourksChan I think we could provide SuccessHook, same as `OnSubmitError`. You could get message id through `pdu.PDU`.
You could then cast pdu.PDU to SubmitSM and get message id.
I wonder if that work for you?
kindly cc @bachhh

[2020-05-13 09:10] YourksChan commented on #29
I hope to get pdu.PDU immediately after completion!
Because this will have a great impact on our project! thank you for your reply!

pdu, err := transmitter.Transmitter().Submit()

[2020-05-13 10:42] bachhh commented on #29
Hi @YourksChan , if you want to get the Sequence Number of each PDU, you can custom assign for each one of them yourself.
If you want to get the MessageID, it is a tag string that you get from SMSC entity in a SubmitSMResp. Because SMPP is inherently an asynchronous protocol, you would need to cache your SubmitSM, and match it with SubmitSMResp later ( using Sequence Number ).

[code]

I cannot su

[2020-05-28 02:57] YourksChan commented on #29
Yes, it's useful. Can you give me a complete case?

[2020-05-31 05:03] linxGnu commented on #29
@YourksChan
1. MessageID: in SubmitSMResp. After you submit a SMS to SMSC, SMSC will return it. It's async process that you could not expect when it happens.
2. SequenceNumber: in SubmitSM. You could specify your own sequence number instead of auto generated from gosmpp lib.

So, could you please tell me which one you need?

[2020-05-31 11:56] YourksChan commented on #29
MessageID

Linh Tran Tuan <notifications@github.com> 于2020年5月31日周日 下午1:04写道：

[2020-05-31 11:56] YourksChan commented on #29
MessageID

[2020-06-01 02:48] linxGnu commented on #29
@YourksChan in case of MessageID, as I explained above, there is no way we could get it in sync pattern as you want. SMPP Protocol itself is async pattern.
Please get `MessageID` via following steps:
1. Save SequenceNumber in your cache. SequenceNumber is generated automatically or manually. SequenceNumber is considered SubmitSM ID in a session.
2. Receiving SubmitSMResp consists of SequenceNumber

[2020-06-01 02:48] #29 closed

[2020-07-14 18:39] qosimmax opened #30 "How to set TON/NPI values in multiple destination addresses"
Hi @linxGnu
d1 := pdu.NewDestinationAddress()
 there is no functions   SetTon(), SetNpi()
how can i set this  TON/NPI values?

[2020-07-15 02:29] linxGnu commented on #30
Hello @qosimmax
Thank you very much for your concern. Yes, its lacking of configurable option.

I have updated the interface a bit and let user inject `Address` directly. You could set ton/npi in `Address` and inject into DestinationAddress now.

Sample code:
[code]

[2020-07-15 05:25] qosimmax commented on #30
Thanks @linxGnu 👍

[2020-07-15 06:25] linxGnu commented on #30
Thank you for the report. I will close the issue for now.

[2020-07-15 06:25] #30 closed

[2020-07-29 12:05] qosimmax opened #31 "How to detect dropped TCP/SMPP connection"
Hi @linxGnu
When sending sms  periodically (every 10 seconds) ,  then i turned off internet connection(wi-fi).
There is no error when send sms.  How detect it?

[2020-07-29 12:45] linxGnu commented on #31
Hello @qosimmax , please kindly take a look at following test/sample code: https://github.com/linxGnu/gosmpp/blob/master/transceiver_test.go#L53-L73

- You could detect submit failure or you could be notified when connection is closed
- `gosmpp` will try to rebind connection whenever it could and won't tell you about connection fail. But as I mentioned above, you could detect submit failure via ht

[2020-07-29 13:29] qosimmax commented on #31
Yes i am using  callback handler OnSubmitError ,  but this handler not working when i turned off internet.

[2020-07-29 13:31] linxGnu commented on #31
@qosimmax Oh it's weird, let me take a look later and tell you asap :thinking:

[2020-07-30 00:55] linxGnu commented on #31
@qosimmax
I reran example at: https://github.com/linxGnu/gosmpp/tree/master/example

SMPP Client:
[code]

SMSC (at https://github.com/linxGnu/gosmpp/tree/master/example/smsc):
[code]

Sometime turn on/off SMSC, I saw following error raised from smpp client:
[code]

In short:
- SubmitError callbacked when you submit to SMSC but fail. I think in your case, SubmitSM success before turn off internet
-

[2020-07-30 04:44] qosimmax commented on #31
@linxGnu  you run SMSC in the localhost.
When run smpp client  and SMSC in same host (localhost) its work fine,  problem is when connect to remote SMSC host.
Can you test smmp client with remote host(SMSC simulator) ?
https://melroselabs.com/services/smsc-simulator/

[2020-07-31 08:21] linxGnu commented on #31
@qosimmax I could reproduce your concern and provide an update. Please kindly check the fix again with latest rc release.

tl;dr: it's go problem of detecting conn broken without specifying read/write deadline.

Thank you very much for using gosmpp and tell us your concern/issue.

[2020-07-31 11:25] qosimmax commented on #31
thanks very much @linxGnu.
If i'm not mistaken  value of ReadTimeout must greater than EnquireLinkIntervalMinimum (20 second),
https://github.com/linxGnu/gosmpp/blob/297995d40f7e6fc4d8926092a7e32f63e334f089/transmitter.go#L15
otherwise EnquireLinkResp handle not working.

[2020-07-31 15:19] linxGnu commented on #31
@qosimmax Actually, we can't tell when `EnquireLinkResp` is returned from SMSC. Therefore, I don't think there is a mandatory condition like `ReadTimeout >= EnquireLinkInterval`.

So, I think I would like to give the choice to user. User should try with their own production environment

[2020-08-06 02:58] linxGnu commented on #31
I will close this issue. Thank you very much for your concern @qosimmax

[2020-08-06 02:58] #31 closed

[2020-09-13 06:58] septs opened #33 "How to concatenated sms?"
https://en.wikipedia.org/wiki/Concatenated_SMS

[2020-09-14 14:16] septs commented on #33
https://smpp.io/concatenated-messages/

please export `UDH` info
https://github.com/linxGnu/gosmpp/blob/297995d40f7e6fc4d8926092a7e32f63e334f089/pdu/ShortMessage.go#L14-L22

and provide an example of concatenated sms

thanks.

[2020-09-16 05:11] #33 closed

[2020-09-16 05:13] septs commented on #33
@linxGnu Hope to provide a typical Concatenated SMS example for other user.

[2020-09-16 05:18] linxGnu commented on #33
@septs At the moment, I don't have much time to provide full example. I will try soon.
So, if possible, it's great with your help.

[2020-09-16 08:53] septs commented on #33
code:
[code]

logging:
[code]

[2020-09-16 08:54] septs commented on #33
https://github.com/linxGnu/gosmpp/blob/d4210d5883eee7ff19e50ed6edd9811ca84573e4/pdu/UDH.go#L98

The length check is `3`, actual length is `5`

[2020-09-16 12:18] septs opened #37 "UCS-2 using UTF-16-BE decoder issue."
in python3

[code]

new line is an unexpected result

[2020-09-16 15:26] linxGnu commented on #37
Excuse me, what do you mean of `new line is an unexpected result`. Could you please describe it in detail.

[2020-09-19 07:35] septs commented on #37
Confirmed, the problem nothing to do with this library.

[2020-09-19 07:35] #37 closed

[2020-09-20 07:50] itsursujit opened #39 "Is it possible to detect sms encoding?"
Thank you for this great library.
I am trying to implement this library along with REST.

User might send any text message with different message encoding.

Is it possible to detect the encoding?

By detecting the encoding, I wanted to clean the message content.

Some time the message content contains invisible empty characters which will change message encoding and thus message parts (length) mig

[2020-09-20 10:47] septs commented on #39
https://github.com/linxGnu/gosmpp/blob/cc603b5cc822dcd18a9d1e72b65158f773be5db5/data/utils.go#L7-L14

@linhduonggnu did not implement, auto detect best encoding.

[2020-09-20 13:14] septs opened #40 "UTF-16 encoded length issue"
https://github.com/linxGnu/gosmpp/blob/cc603b5cc822dcd18a9d1e72b65158f773be5db5/data/codings.go#L150-L152

This a simple algorithm not correct.

e.q: Wrong for Emoji

[code]

[2020-09-20 14:22] septs commented on #40
[code]

Reference: https://www.unicode.org/reports/tr26/tr26-4.html

[2020-09-21 07:36] linxGnu commented on #39
Yeah, for MO, it had been done with pdu header automatically. You could check GetMessage API for detail.

Please tell me if my answer not make sense to you. Thank you :)

[2020-09-21 09:19] itsursujit commented on #39
@linxGnu  I went through this file: https://github.com/linxGnu/gosmpp/blob/d4210d5883eee7ff19e50ed6edd9811ca84573e4/pdu/ShortMessage.go

In GetMessage API, you are checking for Encoding that's already assigned from other APIs

The APIs like

[code]
 you are explicitly defining the Encoding but not parsing the message content to identify the encoding.

[2020-09-21 11:48] linxGnu commented on #39
@itsursujit Do you mean: Identify encoding of `go std string type`?

[2020-09-21 11:49] linxGnu commented on #40
@bachhh Could you please check this issue?

[2020-09-21 12:48] itsursujit commented on #39
@linxGnu yes.

For e.g.

`This is example test` is GSM
`:package: package (with Emojis) This is example test` is UCS2

I mean to identify above string character encoding

[2020-09-22 00:54] linxGnu commented on #39
@itsursujit I am afraid that it's hard to have a perfect encoding detection at the moment. I still think you should pass Encoding type around services when working with multi enc :(

[2020-09-22 03:25] itsursujit commented on #39
@linxGnu I agree it's hard to get perfect encoding detection. At least we could implement detecting GSM 7-bit, or unicode or UCS2.

There's some library that is already detecting GSM 7-bit or unicode and sanitizing them.

https://github.com/instasent/sms-counter-php/blob/master/SMSCounter.php
https://github.com/danxexe/sms-counter/blob/master/sms_counter.js
https://github.com/SiddhantAgarwal/GoSMS

[2020-09-22 08:06] septs commented on #39
![image](https://user-images.githubusercontent.com/3842474/93857615-72b2f180-fced-11ea-9fdf-bb39bf8adbed.png)

I did this in another project

[2020-09-22 08:28] itsursujit commented on #39
This seems great.. @septs is it possible to share?

[2020-09-22 08:30] septs commented on #39
@itsursujit I am not sure if I fully understand https://unicode.org, Sorry.

[2020-09-22 08:34] itsursujit commented on #39
@septs We don't need all unicode characters...
For SMS Sending, If we could identify GSM, Unicode 8-Bit, 16-Bit or UCS2... Then everything should be fine related to SMS content.

Looking forward for above function. It will help a lot on detecting encoding

[2020-09-22 08:51] septs commented on #39
https://github.com/linxGnu/gosmpp/pull/36#issuecomment-693346005
https://github.com/linxGnu/gosmpp/pull/36#pullrequestreview-492320765
https://github.com/linxGnu/gosmpp/issues/40#issuecomment-696064272
https://github.com/linxGnu/gosmpp/pull/41#issuecomment-695951445

This is a big revision, will not be accept

So I will not submit the next PR for this project, Sorry.

[2020-09-22 08:57] itsursujit commented on #39
Maybe on this? https://github.com/itsursujit/gosmpp

[2020-09-22 09:27] septs commented on #39
@itsursujit

if you can provide **USSD over SMPP** detailed method. (best is capture packet)

i am happy to share my repo

[2020-09-22 09:32] itsursujit commented on #39
@septs I'm learning SMPP. USSD over SMPP is out of my understanding :)

[2020-09-22 09:48] itsursujit commented on #39
@septs There's something I found for node
https://github.com/jarmex/RVD-Node

[2020-09-22 09:54] septs commented on #39
@itsursujit seen it already, but no help, thanks.

[2020-09-22 10:09] septs commented on #39
[code]

this is what you want?

[2020-09-22 10:11] itsursujit commented on #39
Yes exactly

[2020-09-22 10:18] #40 closed

[2020-10-04 13:05] septs commented on #39
![image](https://user-images.githubusercontent.com/3842474/95016254-6e3eef00-0684-11eb-8365-67940799de2d.png)

@itsursujit 100% test coverage of `pdu` and `data-coding`.

support auto detect best coding (gsm7bit, ascii, latin-1, cyrillic, hebrew, shift-jp, euc-kr and ucs2)

expected 11 month open source the my repo. (current is private repo)

[2020-10-04 16:06] itsursujit commented on #39
@septs Great! Currently it's not open source?

[2020-10-05 15:56] septs commented on #39
https://github.com/NiceLabs/go-smpp

[2020-10-05 17:50] itsursujit commented on #39
@septs It's awesome. Thanks for this... :) I will try it out

[2020-10-05 18:26] itsursujit commented on #39
@septs I've created two issues:
https://github.com/NiceLabs/go-smpp/issues/1
https://github.com/NiceLabs/go-smpp/issues/2

[2020-10-06 04:14] #39 closed

[2020-10-17 22:07] hzcodertr opened #43 "server example"
do you have example about smpp server ?

[2020-10-20 14:23] linxGnu commented on #43
Hello @hzcodertr

Unfortunately, my library aims for client only :(

[2020-10-22 16:58] linxGnu commented on #43
I will close this issue due to late response. Please contact me if you have any other issues. Thank you very much.

[2020-10-22 16:58] #43 closed

[2020-10-29 05:05] bachhh opened #46 "support for 16 bit ref concat IE"
lookup reference document 3GPP 23.040

[2020-10-29 05:06] bachhh opened #47 "add Join() method for splitted ShortMessage"

[2020-10-29 06:39] bachhh opened #48 "replace integration test from Melrose Server to a mock server."

[2020-11-07 11:59] sujit-baniya opened #49 "How to UnMarshal response from DeliverSM?"
On receiving response from SMSC, following response is received on https://github.com/linxGnu/gosmpp/blob/master/example/main.go#L109

[code]
How can I convert this to struct

[2020-11-07 13:47] sujit-baniya opened #50 "Any example for sending multiplepart or concatenated SMS"
Is there any example for sending multipart or concatenated SMS

[2020-11-08 11:21] sujit-baniya commented on #50
What is wrong with this code:
https://play.golang.org/p/UkOZOhFqV41
https://play.golang.org/p/wEOkIzP2kKP

On PDU DeliverSM, I'm not getting the UDH Details for concatenated message. Instead I only receive this `0 0 0 false`

Also for NON-GSM Character, on PDU DeliverSM, I'm getting error
`panic: invalid gsm7 byte` when doing `pd.Message.GetMessage()`

How would I fix above

[2020-12-17 01:30] adriantabirta opened #51 "Small fix g++ and serving address"
**Some updates to run project**

**1. In the _run.sh_ file**
[code]
in my case **smsc.cpp** does not compile, have 2 errors and around 20 warnings. (macos, default installed g++)

**2. In file _main.go_ change**
[code]

**3. Is it possible to write whole server in go for testing?**

[2020-12-17 01:37] linxGnu commented on #51
@adriantabirta Thank you very much for trying gosmpp.
Yeah, I will make a fix for local testing.

For your question about writing whole server in go, I must put in much effort for that. Unfortunately, I am too busy this time. Hope someone could help me :(

[2020-12-17 01:50] adriantabirta commented on #51
I would like to try but have no idea how SMPP works. Btw thx for nice go client (helped me alot).

[2020-12-17 02:17] linxGnu commented on #51
:+1: Please tell me if anything wrong during your usage. I am very happy when my lib helps.

[2020-12-17 11:17] adriantabirta commented on #51
I`m not sure that I can send messages with 160 char length. On client
[code]

never receive more than 76 char, only one DeliverSM is received.

[2020-12-18 02:28] linxGnu commented on #51
@adriantabirta It will depend on:
1. Encoding: if its 7-bit, then I think 160 char is ok
2. If not 7-bit encoding or your messages is >= 160 char, I would recommend using concatenated message instead.

@bachhh could you please provide an example of using concatenated message

[2020-12-18 02:36] linxGnu commented on #50
@sujit-baniya I am very sorry for pretty late reply. I and @bachhh had amount of business and personal affair that time.

We will try to provide example of sending concatenated SMS soon. Stay tune :)

[2020-12-18 07:48] sujit-baniya commented on #50
[code]
Hi Thank you for your feedback. Please let me know if it's correct way to send concatenated SMS.

Also waiting for best example from you :)

[2020-12-19 03:55] bachhh commented on #51
@adriantabirta I can explain that, length of SMS message is dictated by GSM standards, while SMPP is a standard protocol for asynchrous communication between devices / endpoints in telecom networks.
In GSM 3.38 ( which is what this project follows ), SMS messages are allowed for a maximum of 148 bytes, which is 160 ASCII character, or around 74 UNICODE characters ( 2 bytes per character ). Anythin

[2020-12-19 10:46] adriantabirta commented on #51
Wow, would be nice. Thx

Tăbîrţă Adrian
iOS, JAVA and GO developer
+373 60 425424

[2021-01-06 02:44] sujit-baniya commented on #50
@linxGnu Any plan to add some examples soon?

[2021-02-09 13:09] egorkovalchuk commented on #50
Hi, my version

[code]

[code]

[code]

[2021-02-09 13:50] sujit-baniya commented on #50
Thanks @egorkovalchuk.
Is there any rule or anything for defining `ProtocolID`, `RegisteredDelivery`, `ReplaceIfPresentFlag`, `EsmClass`?
Are they dependent on anything?

[2021-02-09 14:18] egorkovalchuk commented on #50
It depends on the SMS center and the network in which it operates

RegisteredDelivery -- parameter about delivery confirmation

https://www.3gpp.org/ftp/tsg_t/tsg_t/tsgt_04/docs/pdfs/TP-99128.pdf

[2021-03-03 16:25] goten4 opened #52 "How should I handle binary messages ?"
I need to handle binary messages.

It appears that the data coding of DeliverSM PDU is not exposed, and in `codingMap` (`codings.go:209)`, data coding 0x02 and 0x04 are not supported (datacoding codes for 8-bit binary).
It's the same problem for SubmitSM.

Have you ever met this issue ?
Do you intend to support binary messages in the future ?
I can make a pull request if you wish, any suggestions

[2021-03-03 22:31] linxGnu commented on #52
@goten4 thank you very much and welcome.

Could you please make a PR for exposing data coding and support missing encoder 👍

[2021-03-04 15:33] goten4 opened #54 "Handling custom runes mapping"
In GSM7 official table, the character `ç` does not exist.
It would be great if it was possible to customize charset tables.

In my case, I could map `ç` to `0x09`, to obtain something like this : `hameÇon`, instead of getting an error.

What do you think ?
Of course I can make a PR if you like !

[2021-03-05 09:09] goten4 opened #55 "Managing messages with UDH in MessagePayload"
There's an issue in `ShortMessage.Unmarshal()`.

Sometimes SMS-C sends the message in TLV field MessagePayload. In these cases the ShortMessage length is 0.
So in the function, if the `udhi` is `true`, `udh.UnmarshalBinary()` returns an error.

A PR is coming (like winter ;)).

[2021-03-05 18:16] goten4 opened #57 "How to handle Submit_SM_Resp in Transmitter connection ?"
I can't figure out how to handle the Submit_SM_Resp in a Transmitter connection.

The [SMPP specification](https://smpp.org/SMPP_v3_4_Issue1_2.pdf) (page 17) says that the Submit_SM_Resp is sent in the same connection of the transmitter, but there's no way to listen for the PDU responses in the `TransmitSettings`.

Did I miss something in the library ?

[2021-03-06 09:27] goten4 commented on #54
Another thing about charset tables, it would be great if we can have the possibility to set a default character in case of a mapping is not found (instead of returning an error).
If the default character is not set, an error is returned, and if it's set, the encoder can use it.

[2021-03-10 08:21] #55 closed

[2021-03-10 12:41] goten4 commented on #57
Another problem linked to that issue is that the receiver do not send EnquireLink.

I think it's a global issue ... You assumed that a transmitter do not receive anything, and a receiver do not send anything.

However a trasmitter can receive following PDUs :
- UNBIND
- UNBIND_RESP
- SUBMIT_SM_RESP
- SUBMIT_SM_MULTI_RESP
- DATA_SM
- DATA_SM_RESP
- QUERY_SM_RESP
- CANCEL_SM_RESP
- REPLACE_SM_RESP
-

[2021-03-12 09:20] goten4 opened #59 "Closing TRX or TX session doesn't send UNBIND PDU"
When closing a transmitter or transceiver session, if a PDU has already been sent (EnquireLink for ex.), the session is not properly closed. In this case a `i/o timeout` error is returned when `t.conn.Write(marshal(pdu.NewUnbind()))` is called in `transmitter.go`.

The reason is that the previous PDU write has set the `WriteDeadline` through the call of `t.conn.SetWriteTimeout()` in `write()` func

[2021-03-16 07:28] #59 closed

[2021-03-16 07:49] linxGnu commented on #57
@goten4 I am very sorry for late reply due to personal issue as I told before.

Yes, you are right, this is missing spec.

I am thinking of supporting it. @bachhh HDYT

[2021-03-16 12:12] goten4 commented on #57
@linxGnu Thanks for the invitation, and no pb for the not so late reply :)

I worked on this issue with my project team because we had to go further.
I can submit a PR but you may not be ok with the choices we had to take.
It breaks compatibility. I'll explain in the PR.

[2021-03-16 12:37] linxGnu commented on #57
@goten4 I already include a fix at #61
I wonder if you could PTAL :+1:

[2021-03-16 15:38] goten4 opened #62 "If ESME does not handle a PDU, a GenericNack should be returned instead of the corresponding Response"
`Receiver` should have the possibility to know if a PDU is handled by ESME before sending auto response, because if the ESME does not handle `DataSM` (for example), the response should be a `GenericNack`, not a `DataSM_Resp`.

[2021-03-17 08:11] #57 closed

[2021-03-17 08:39] linxGnu commented on #62
With #61 , Receiver is now able to response accordingly with DataSM_Resp.

I wonder if we could close this issue or we still have to discuss about DataSM - GenericNack.

AFAIK, GenericNack is issued by ESME when detect pdu header issue. If not, then we are safe to auto-response with DATASM_RESP right?

[2021-03-17 08:39] linxGnu commented on #62
cc @bachhh

[2021-03-17 08:51] goten4 commented on #62
I'm not sure about that, but I think some SMSC will expected you to send GenericNack if you do not handle DataSM at all.
The spec is clear with that, GenericNack is expected only on malformed PDU, but sometimes SMSC does not respect perfectly the spec.
I'll tell you more about that tomorrow after speaking with my « SMSC expert ». ;)

[2021-03-17 08:52] linxGnu commented on #62
Thats awesome. Thank you

[2021-03-18 05:07] #52 closed

[2021-03-18 08:51] bachhh commented on #62
Wouldn't really be surprised if somewhere an SMSC are requiring GNACK for unsupported PDU. I was thinking of providing some custom logic for user to overwrite the Response behaviours.

[code]

[2021-03-18 09:11] goten4 commented on #62
That would be great, because we should be able to introduce a system of windowing on ESME side.

@linxGnu : I think you missed something when you merged #61 ... I don't see anymore the default responder of the receiver.

[2021-03-18 09:20] linxGnu commented on #62
@goten4 TX/RX/TRX is blurred.

Actually, for now, they are different from each other only at binding type. TX/RX session is actually `transceivable`.

In this way, a `receiver` session could response to SMSC automatically.

[2021-03-18 09:22] goten4 commented on #62
Of course ... sorry I'm a little bit tired :joy:

[2021-03-18 09:26] linxGnu commented on #62
@goten4 take rest man. Anw, so #61 fulfill our requirements:
- TX Session is able to accept SubmitSM_RESP and notify to user
- RX Session is able to auto response SMSC, i.e: data_sm_resp

So things will be fine.

@bachhh idea is great as well that we could let user ... overwrite auto-response behaviour. I think it's great if user could manually somehow.

[2021-03-18 09:27] goten4 commented on #62
I had a chat with our SMSC expert ... In case of ESME does not handle some kinds of PDUs, we should not respond a Generic Nack because in this case, the SMSC will probably retry. So the corresponding response is expected.
But the suggestion of @bachhh is great to allow the possibility to introduce a system of windowing on ESME side, to avoid to be spammed by a SMSC (like the SMSC do on its side).

[2021-03-18 09:34] linxGnu commented on #62
Yeah, at the moment, the `Receiver` interface does not have this possibility.

To be clear, `Receiver Session` actually auto-response with correct/proper manner:

See also:
- https://github.com/linxGnu/gosmpp/blob/master/session.go#L32
- https://github.com/linxGnu/gosmpp/blob/master/connect.go#L99-L117

Receiver Session use `transceivable` to ... auto response. In case of SMSC send DataSM, Receive

[2021-03-18 09:36] goten4 commented on #62
Yes ... but that's a problem if we introduce a `PDUResponder` in `Settings` like @bachhh suggests.

[2021-03-18 09:48] linxGnu commented on #62
Yeah, it will be trouble if we don't prioritize the condition like: which setting is higher priority than other, which `responder` is more prefer.

If we agree and explain in document to user, I think it will be fine.

[2021-03-21 07:30] arshabbir opened #64 "Setting DCS explicitly"
I am trying to set the data coding scheme to 0xf6(246) to test SAT push messaging in a production environment. I couldn't find a way to provision the DCS explicitly for this. Could anyone please help here.. Thank you very much.

[2021-03-23 05:52] bachhh commented on #54
Good suggestion, I'm working on a PR for this.

[2021-03-23 09:04] goten4 commented on #64
@arshabbir Thanks for the issue, it's actually a lack in the library.

For the moment, the library managed effectively the following data codings :
[code]

The datacodings 0xF? are not currently supported.
Here is what the specs says :
[code]

The problem is that we don't manage for the moment a default SMS-C charset.
I'm not sure how we should manage the class of the message in this case.
@bachhh

[2021-03-24 00:42] linxGnu commented on #64
I think we could support user custom data coding. Something like:

[code]

[2021-03-24 00:45] linxGnu commented on #64
I wonder if it satisfies your demand @arshabbir

If yes, I think #65 is sufficient. PTAL @goten4 @bachhh

[2021-03-24 11:39] #64 closed

[2021-03-27 17:19] sujit-baniya opened #67 "How to recognize parent message PDU of concatenated SMS?"
When sending multiple messages, how can I identify parent message of concatenated SMS so that I could do further processing of parent message

[2021-03-27 22:24] #51 closed

[2021-03-28 08:59] sujit-baniya commented on #50
@egorkovalchuk Thanks for your information. I tried above mechanism for concatenated sms and seems some of the first letters from each short message are remove.

[code]

gives me
[code]

Why is it so?

[2021-03-29 11:41] egorkovalchuk commented on #50
I would look at the text encoding. May be, string size is calculated incorrectly

[2021-03-29 14:20] sujit-baniya commented on #50
Example code:

[code]

[2021-04-13 04:47] sujit-baniya opened #68 "How to implement SMPP Session Load Balancing?"
I tried to create a session manager.

[code]

Can anyone suggest me how can I implement load balancing between the session?

[2021-04-13 09:41] linxGnu commented on #68
Excuse me, what do you mean by load balancing for two session here?

How about round robin or other mechanism?

[2021-04-13 10:38] sujit-baniya commented on #68
@linxGnu Yes something like round robin or least busy session.

For e.g. Whenever there's 2 or more sessions, the PDU would be sent to least busy session or round robin approach

[2021-04-13 13:00] motaz commented on #50
Which version do you use, with standard version v0.1.3 I couldn't find below methods:

[code]

[2021-04-13 13:06] sujit-baniya commented on #50
@motaz Version 0.1.4

[2021-04-13 13:11] motaz commented on #50
Thank you sujit for your prompt response
I changed the version in mod file to 0.1.4 as below:
`require github.com/linxGnu/gosmpp v0.1.4`
but I get this error:
`go: github.com/linxGnu/gosmpp@v0.1.4: reading github.com/linxGnu/gosmpp/go.mod at revision v0.1.4: unknown revision v0.1.4`

[2021-04-13 13:18] sujit-baniya commented on #50
@motaz Please try `go get -u github.com/linxGnu/gosmpp@master`

and this is workable example:

[code]

Result:

[code]

[2021-04-13 13:22] motaz commented on #50
I get this error:

`go: cannot use path@version syntax in GOPATH mode`
when I run:
`go get -u github.com/linxGnu/gosmpp@master`
I'm using
`go version go1.15.5 linux/amd64`

is it possible to put gomssp@master version in go.mod file?

[2021-04-13 13:24] sujit-baniya commented on #50
Try this please

[code]

in go.mod

[2021-04-13 13:54] motaz commented on #50
Thanks now I can get the newest version, but there is no backward compatability, my application that compiled with v0.1.3 couldn't work, there are a lot of removed definitions such as Exception, TCPIPConnection, ServerPDUEvent
I'll search the alternative for that

[2021-04-13 13:57] sujit-baniya commented on #50
Hopefully you're maintaining repo from where you could revert the changes :)

[2021-04-13 14:00] motaz commented on #50
Yes, I'm using subversion server :)

Thanks you very much for your time

by updating to new version I could finally compile the sample code:
https://github.com/linxGnu/gosmpp/edit/master/example/main.go
but when I run it I get invalid memory address error:
[code]

[2021-04-13 14:03] linxGnu commented on #50
@motaz 0.1.4 contains breaking changes, bug fixes, lot of improvement as well. We completely rewrite networking layer and processing model, make it easy for app development.

if your app work for 0.1.3, you could let it be.

[2021-04-13 14:04] sujit-baniya commented on #50
@linxGnu Why does it truncate the text in the example I showed above?

[2021-04-13 14:07] sujit-baniya commented on #50
@motaz For latest version please use valid credentials. For testing, you can obtain from here

https://melroselabs.com/services/smsc-simulator/#smsc-simulator-try

[2021-04-13 14:08] linxGnu commented on #50
@sujit-baniya let me check your case tomorrow and notify you.

Thank you for playing with gosmpp

[2021-04-13 14:12] motaz commented on #50
My code still not in production yet, and I needed the long message concatenation.
When I use SetSar.... it gives me nil pointer exception at TLV.GetData
I'm confused now either to use 0.1.3 and try to find solution for long message, or to uee RC version, or wait until stable version is released
[code]

[2021-04-13 14:18] linxGnu commented on #50
@motaz fyi, we used rc version in production env with real smsc (one of biggest Telco in Viet Nam)

We also intend to release gosmpp 0.1.4 in near future.

For your case, I guess RC version might be a good one.

[2021-04-13 14:19] motaz commented on #50
Thanks, but I'm using testing it in real SMSC. Currently I have SMS Gateway written in Java, and it is working fine for about 9 years, but that version is started to become complicated, it has a lot of Code Smell, so that I need to re-write it as clean code using Golang

[2021-04-13 14:25] motaz commented on #50
This is an important reference, we should have lower SMS traffic here in Sudan comparing with your country, since we have half of population than Vietnam
Tomorrow I'll start re-writing the application using Version 0.1.14-RC

[2021-04-13 14:25] linxGnu commented on #50
@motaz I think your case is interesting. Could you please create a new isue and give in more detail like:
- Your code
- Stack trace where you got panic

[2021-04-13 14:30] motaz commented on #50
You mean the issue with version 0.1.13 with SetSar.. or version 0.1.14-RC ?

[2021-04-13 14:34] linxGnu commented on #50
@motaz with v0.1.4RC after rewrite/implementation if you still have trouble.

Please dont hesitate to create an issue and I will try my best to help.

[2021-04-13 14:51] sujit-baniya commented on #68
Thank you so much @linxGnu This will help me a lot

[2021-04-14 00:53] linxGnu commented on #68
@sujit-baniya

First of all, you should inject sessionIDs and lb-picker right in to Manager:

[code]

[2021-04-14 00:59] linxGnu commented on #68
Then
[code]

[2021-04-14 01:02] linxGnu commented on #68
RR Picker:
[code]

[2021-04-14 01:04] linxGnu commented on #68
Then, you could inject lb right into your manager:

[code]

[2021-04-14 02:14] sujit-baniya commented on #68
@linxGnu Thanks for your response.

[2021-04-14 08:19] motaz opened #70 "gosmpp.NewSession returns EOF"
- I'm testing gosmpp sample code against production SMSC and it returns EOF when calling gosmpp.NewSession using gosmpp v0.1.4-rc24
https://github.com/linxGnu/gosmpp/edit/master/example/main.go

- Testing the same code with local simulator (Written in Java) works fine
- When changing to TXConnector instead of TRXConnector in production returns below error:

`Binding error. Command status: [13]. Pl

[2021-04-14 08:31] linxGnu commented on #70
@motaz have you tried with read timeout = 1 minute or more?

[2021-04-14 08:35] motaz commented on #70
I have tried now, it gives the same error (EOF). The error returned instantly, there is no wait for timeout
[code]

[2021-04-14 08:39] linxGnu commented on #70
I think the problem is your system id (authentication)

Err code 13 indicates that. Could you please check again

[2021-04-14 08:43] motaz commented on #70
I have separated connection from binding, the error occure in connection method.
connection does not have timeout property:

[code]

[2021-04-14 08:44] linxGnu commented on #70
@motaz please check your “auth”. I wonder if you are using correct system id and password :)

[2021-04-14 09:08] motaz commented on #70
I found the problem, and yes it is in auth class, it is in empty SystemType, when I put "smpp" it works fine and I have received the message in my mobile,
please put it in the sample instead of empty SystemType

Thanks for your support:

`		SystemType: "smpp",`

[2021-04-14 09:10] linxGnu commented on #70
I dont know if i should do so :(

anw, I am happy that your app works

[2021-04-14 09:16] motaz commented on #70
I have test removing or putting any other text rather than 'smpp' in the previous version 0.1.13 and it gives below error:
`WrongSessionStateException`

[2021-04-14 09:41] motaz commented on #70
I have tested it with different operator which has different SMSC vendor, it works fine without setting SystemType

[2021-04-14 09:41] #70 closed

[2021-04-14 15:04] sujit-baniya commented on #68
@linxGnu Thanks so much.

[2021-04-14 15:50] sujit-baniya commented on #68
@linxGnu Sorry to bother you again. Can you please suggest me the way to add `total` and `pending` submitSM per session?

I'm trying to increment both variables on submitSM and on submitSMResp, trying to decrease `pending`

[2021-04-14 23:02] #50 closed

[2021-04-14 23:15] linxGnu commented on #68
@sujit-baniya you are welcome :)

About stats/metrics for total/pending SubmitSM, I think it will be insufficient to provide, in view of library.

Currently, `transmitter` uses buffered channel with length 1 for IPC. Therefore, `pending` SubmitSM is always at most 2 (1 in channel, 1 in processing/writing to SMSC)

In this way, you could count things at your side without worry of accuracy.

[2021-04-14 23:19] linxGnu commented on #68
@sujit-baniya I will close this issue. Please feel free to open another one if you have any trouble.

Thank you.

[2021-04-14 23:19] #68 closed

[2021-05-02 09:15] robertmircea opened #71 "Expose gosmpp.data.codings"
Could you expose publicly gosmpp.data.codings? Data coding/decoding functions are needed for handling message_payload TLV. Some SMSCs accept or deliver payloads in this field instead of short_message. The coding/decoding of the payloads needs to be performed similar to short_message pdu field. It would be far more flexible to also have access to gosmpp.data.Codings.

Please check also SMPP spec: h

[2021-05-02 09:30] robertmircea commented on #71
Never mind...

[2021-05-02 09:30] #71 closed

[2021-05-03 11:25] robertmircea opened #72 "Feature request: Rate limiter for ESME submit_sms"
All real SMSC that I've worked with have a rate limiting policy to prevent ESME to send submit_sm too fast. If the SMSC is detecting that ESME overpasses the allowed limiting (e.g. submits/sec), it will respond with ESME_RTHROTTLED and message will not be delivered.  It would be useful if the library would support out-of-the box rate limiting the number of submits sent to SMSC.

[2021-05-03 11:37] robertmircea opened #73 "Feature request: outgoing (send) window size"
All real SMSC that I've worked with implement a mechanism for receiving a certain number of pdus without blocking the ESME until the replies are sent. The outgoing send window is a parameter when defining SMSC large account and by default is usually 1. Setting send window to a number higher than 1  help ESMEs to improve the throughput by allowing them to send a specific number of submit_sm pdus wi

[2021-05-03 11:49] robertmircea commented on #62
If an ESME cannot handle a PDU (deliver_sm or data_sm), the recommended mechanism to reply to SMSC is to actually use one of the following smpp specific error codes:

1. If the ESME does not want that SMSC to send the message again, it should reply with:
- ESME_RX_P_APPN (SME Receiver Permanent App Error Code) or ESME_RX_R_APPN (ESME Receiver Reject Message Error Code)

2. If the ESME temporarily

[2021-05-04 23:32] linxGnu commented on #72
Hello @robertmircea , thank you very much for suggesting that great feature.

It might not be the scope of the library. However, I believe we could do something. I will discuss with @bachhh and let you know.

[2021-05-25 05:25] sujit-baniya opened #74 "Any Server example with this library"
Is there any Server example using this library?

[2021-05-25 05:32] linxGnu commented on #74
@sujit-baniya `gosmpp` is client library. Not server side (SMSC) :)

[2021-05-25 05:35] linxGnu commented on #67
I am afraid that at the moment we do not support for this feature. But at least, please let me take a note on this.

Thank you.

[2021-05-25 05:44] sujit-baniya commented on #74
Can you suggest some library that support server side?

[2021-05-25 05:46] linxGnu commented on #74
I am afraid that I could not help you. I think (maybe) https://github.com/OpenSmpp/opensmpp is a good start

[2021-07-18 09:28] jkf8x8 opened #75 "use example/main.go"
go rum ./main.go
main.go:11:2: no required module provides package github.com/linxGnu/gosmpp/data;

[2021-08-24 15:07] aergil opened #76 "Deadlock on closing"
There is sometimes a deadlock when the connection is closed by server :

- The close function is call in transmittable.go:45 and wait for the Lock:
[code]
This function will call t.Cancel()  (transmittable.go:50)

- In the same time, the Submit func  in transmittable.go:90 has the Lock and is waiting for t.ctx.Done() to release the Lock.

And so, the session is never released.

[2021-08-30 15:42] aergil commented on #76
Yes, this is what happens most of the time.
But the problem is real : we observe sometimes that submit is forever blocked.

Here we can see 2 _submit_ and the _close_ which are waiting for the Lock. And a first _submit_ which is stuck, waiting for t.ctx.Done()

[code]

[2021-09-02 02:34] linxGnu commented on #76
@aergil I have no idea why deadlock happen.

At least, could you please try latest version to see the problem gone. Current version: `v0.1.4.rc28`
which remove mutex usage and simplify `transmitter`

[2021-10-01 12:24] aergil commented on #76
Indeed, with the last version, the problem no longer occurs !

So I close the issue, thanks for your time.

[2021-10-01 12:24] #76 closed

[2021-10-20 19:21] tahseenjamal commented on #74
@linxGnu if you just want an SMPP Server to test then you can check out larvitsmpp

Both SMPP Client and Server is provided

[2021-11-30 10:56] lxShaDoWxl opened #80 "write: broken pipe"
Tell me why there may be an error **write: broken pipe**?

[2021-11-30 15:26] #80 closed

[2021-12-01 01:38] #75 closed

[2021-12-21 05:35] lxShaDoWxl opened #81 "packages are accumulating"
If problem connection then packages are accumulating
the screenshot shows that a lot of EnquireLink was sent after tcp retransmission
![image](https://user-images.githubusercontent.com/5456302/146876542-ba2c8513-527f-45f3-857d-204c7598882d.png)

[2021-12-28 12:10] motaz opened #82 "Is gosmpp thread safe?"
I'm wondering when I call **GetSequenceNumber**, and **Transceiver().Submit**, are they thread safe or I should use Mutext to prevent multi access to these functions?

[2021-12-28 12:37] linxGnu commented on #82
@motaz yes gosmpp (latest) is thread-safe. You do not need mutex

[2021-12-28 12:40] motaz commented on #82
Very good, this will reduce a lot of work from my side
I'm using v0.1.4-rc24, I will update to latest stable version

[2021-12-28 12:40] #82 closed

[2022-06-07 06:10] sujit-baniya opened #83 "How to send concatenated sms"
Any example to send concatenated sms?

[2022-06-23 01:51] DandyDeveloper opened #84 "v0.1.4 isn't working with example - Results in Segmentation Fault"
I suspect this is because the example was built for 0.1.3 in mind.

0.1.4-rc29 gives an immediate segfault on session closure (possibly an uncaptured error):

[code]

Looks as though the session state isn't instantiated as the code is breaking here: https://github.com/linxGnu/gosmpp/blob/master/session.go#L90-L96

[2022-06-23 01:58] DandyDeveloper commented on #84
Nevermind, actually looks like the example was built for 0.1.4, so, there's just something else broken or perhaps something in my SMSC configuration that the library isn't happy with?

Would appreciate if anyone has any ideas whilst I diagnose.

[2022-06-23 02:04] sujit-baniya commented on #84
@DandyDeveloper You should not proceed ahead if there's error on Connection. You see the error `EOF` that means it's not connected.

So you should change your code to this for testing

[code]

[2022-06-23 02:15] DandyDeveloper commented on #84
@sujit-baniya Thank you, the EOF was a bit head scratching. I'll look into it.

I would have thought the connect would give a little bit more verbose output on a failure. I'll dig a bit deeper and if I figure out what the SMSC / Client problems are, I'll report back here and close.

[2022-06-23 02:46] DandyDeveloper commented on #84
@sujit-baniya Ah, I was sending to a TLS port, SMPP defaults aren't too happy with a TLS connection. Throwing it against the non-TLS worked a treat. Thank you. Closing.

[2022-06-23 02:46] #84 closed

[2022-09-14 07:04] DandyDeveloper opened #85 "Implementing TLS / Supporting SMPPS"
I see by default we use a non-TLS dialer, which in turn relies on `net.Conn` for instantiating and subsequently defining a significant portion of the downstream buffer reads/etc.

Is there a working example or any plans to support a crypto/tls Dialer?

I've attempted to do this myself, but I'm getting some odd PDU related errors which I'm in the process of trying to debug.

It seems a significant

[2022-09-14 08:57] linxGnu commented on #85
@DandyDeveloper could you share your source code. Currently, the library let you inject your own dialer while initialize connector.

[code]

[code]

I believe there is nothing block you from TLS Conn

[2022-09-14 08:59] DandyDeveloper commented on #85
@linxGnu Great point, I missed that this was a public function. Let me use that.

[2022-10-26 21:59] aganemnam opened #87 "Example File not Working [Critical Error]"
go run main.go

Getting Error.
2022/10/27 02:47:41 EOF
panic: runtime error: invalid memory address or nil pointer dereference
        panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x1 addr=0x78 pc=0x3b5460]

goroutine 1 [running]:
github.com/linxGnu/gosmpp.(*Session).Close(...)
        C:/Users/agan/go/pkg/mod/github.com/linx!gnu/gosmpp@v0.1.4-rc2

[2022-10-26 22:01] aganemnam commented on #87
This was worked for me in last versions. But after some update i have issue with it. Can you help me to figure out this issue  ?

[2022-10-31 15:53] aganemnam commented on #87
any News @linhduonggnu  ?
@goten4 @dasmfm @septs

[2022-11-07 20:32] aganemnam commented on #87
No One?

[2022-11-08 04:00] linxGnu commented on #87
@aganemnam let me take a look. In the meantime, you can take a look at test code. They are also good examples.

I was too busy recently (personal matter)

[2022-11-08 04:00] #85 closed

[2022-11-08 04:01] #81 closed

[2022-11-08 04:02] #67 closed

[2022-11-08 04:02] #72 closed

[2022-11-08 04:03] #73 closed

[2022-11-08 04:04] #74 closed

[2022-11-08 04:04] #83 closed

[2022-11-11 04:25] linxGnu commented on #87
@aganemnam
1. It's not critical error. As you look at example source code, the smsc was: `smscsim.melroselabs.com:2775`. In 2021, melroselabs stop SMSC Simulator service to be used freely. That's the reason why example code can not connect.
2. In the example code, when smpp client not connect, I just log without fatal -> trans is nil as expected

BTW, I have updated README and example code to the

[2022-11-11 04:25] #87 closed

[2022-11-14 13:29] aganemnam opened #89 "SetLongMessageWith Encoding works not correct"
Hi All.
In version 1.4.0+ cant send a long messages.

func newSubmitSM() *pdu.SubmitSM {
	// build up submitSM
	srcAddr := pdu.NewAddress()
	srcAddr.SetTon(5)
	srcAddr.SetNpi(0)
	_ = srcAddr.SetAddress("xxx-xxx-xx")
	destAddr := pdu.NewAddress()
	destAddr.SetTon(1)
	destAddr.SetNpi(1)
	_ = destAddr.SetAddress("xxx-xxx-xx")
	//submitSM := pdu.NewLongMessage().(*pdu.SubmitSM)
	submitSM := pdu.NewSub

[2022-11-29 19:36] aganemnam commented on #89
No issue  ?